html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: teal;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  
  min-height: 100vh
}

/* main {
  display: grid;
  width: 450px;
  background-color: white;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "status name"
  "image name"
  "image name"
  "image occupation"
  "image occupation"
  "image brand"
  "contact offer"
  
}
#status {
  grid-area: status;
  min-height: 20px
}

img {
  grid-area: image;
  border-radius: 50%;
  border: solid 3px limegreen;
  justify-items: center;
  align-items: center;
  max-width: 60%;
  margin: auto; 
}

#contact {
  display:flex;
  /* grid-area: contact; */
  background: green;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
    
}

#name {
  grid-area: name;
  background-color: lightgray;
  padding: 10px 0 10px 10px;
  margin: 0
}

#occupation {
  grid-area: occupation;
  background-color: lightgray;
  padding: 0 0 0 10px
  
}

#brand {
  grid-area: brand;
  background-color: lightgray;
  padding: 0 0 0 10px
}

#offer {
  grid-area: offer;
  background-color: lightgray;
  padding: 0 0 0 10px
} */

@media only screen and (min-width: 768px) {


  main {
    display: grid;
    width: 450px;
    background-color: white;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "status name"
    "image name"
    "image name"
    "image occupation"
    "image occupation"
    "image brand"
    "contact offer"
    
  }
  #status {
    grid-area: status;
    min-height: 20px
  }
  
  img {
    grid-area: image;
    border-radius: 50%;
    border: solid 3px limegreen;
    justify-items: center;
    align-items: center;
    max-width: 60%;
    margin: auto; 
  }
  
  #contact {
    display:flex;
    /* grid-area: contact; */
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
      
  }
  
  #name {
    grid-area: name;
    background-color: lightgray;
    padding: 10px 0 10px 10px;
    margin: 0
  }
  
  #occupation {
    grid-area: occupation;
    background-color: lightgray;
    padding: 0 0 0 10px
    
  }
  
  #brand {
    grid-area: brand;
    background-color: lightgray;
    padding: 0 0 0 10px
  }
  
  #offer {
    grid-area: offer;
    background-color: lightgray;
    padding: 0 0 0 10px
  }
}